In [66]:
import pandas as pd

In [67]:
players = pd.read_csv('players.csv')

In [69]:
players.head()

,nickname,id,level,elo,player_s1,player_m1,player_k6,player_k5,player_m2,player_k8,...,de_nuke_k1,de_nuke_k3,de_nuke_m2,de_nuke_k6,de_nuke_k5,de_nuke_k4,de_nuke_k7,de_nuke_k9,de_nuke_k8,de_nuke_k12
0,Quartzz244,42eeccab-73dc-4277-a667-ee2c9fbc66ad,1,559,4.0,129.0,50.0,0.94,64.0,26.0,...,15.40,4.80,2.0,40.0,0.83,2.20,4.40,0.61,29.0,0.00
1,-KuNDuZ-,1b6d6510-fe14-4a17-bbf1-21108ebb1603,1,521,1.0,674.0,50.0,1.34,339.0,33.0,...,17.51,3.46,17.0,49.0,1.29,2.31,5.49,0.72,34.0,0.00
2,japan20161,3d40cb66-be66-4f92-8a8a-5cf27ec65f42,1,468,1.0,593.0,49.0,0.97,293.0,31.0,...,16.78,3.00,21.0,58.0,1.09,2.50,4.72,0.68,30.0,0.03
3,calitoo,08fe923b-34f9-4618-848f-dbb79b1e01ef,1,481,1.0,89.0,46.0,1.01,41.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN